body{
    background-image: url(../imagenes/hogwarts.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2, h1{
    color: rgb(158, 158, 12) ;
    background-color: rgba(131, 36, 36, 0.555);
    font-family: 'Cinzel Decorative', cursive;
}
.HP{
    width: 350;
    display: block;
    margin: auto;
}
h3, p, ul{color: beige;

}
p{
    font-family:   'Marcellus SC', serif;
}
h3{
    background-color: rgba(0, 0, 0, 0.438);
    font-family: 'Cinzel Decorative', cursive;
}
ul{list-style: none
}

footer{text-align: center;
}
.call {background-color: rgba(4, 110, 4, 0.877) ;
width: 150px;
}


